USE [master]
GO
/****** Object:  Database [DB_Digam_Netfix]    Script Date: 7/9/2021 6:17:07 PM ******/
CREATE DATABASE [DB_Digam_Netfix]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'DB_Digam_Netfix', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.VANNGUYEN\MSSQL\DATA\DB_Digam_Netfix.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
-- LOG ON 
--( NAME = N'DB_Digam_Netfix_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.VANNGUYEN\MSSQL\DATA\DB_Digam_Netfix_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
--GO
--ALTER DATABASE [DB_Digam_Netfix] SET COMPATIBILITY_LEVEL = 120
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [DB_Digam_Netfix].[dbo].[sp_fulltext_database] @action = 'enable'
--end
GO
USE [DB_Digam_Netfix]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/9/2021 6:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Account_ID] [int] IDENTITY(1,1) NOT NULL,
	[Account_FName] [nvarchar](50) NULL,
	[Account_LName] [nvarchar](50) NULL,
	[Account_Email] [nvarchar](50) NULL,
	[Account_Phone] [nvarchar](50) NULL,
	[Account_Address] [nvarchar](50) NULL,
	[Account_Password] [nvarchar](50) NULL,
	[Account_Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Actor]    Script Date: 7/9/2021 6:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[Actor_ID] [int] IDENTITY(1,1) NOT NULL,
	[Actor_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Actor] PRIMARY KEY CLUSTERED 
(
	[Actor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/9/2021 6:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Director]    Script Date: 7/9/2021 6:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Director](
	[Director_ID] [int] IDENTITY(1,1) NOT NULL,
	[Director_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Director] PRIMARY KEY CLUSTERED 
(
	[Director_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DirectorMovie]    Script Date: 7/9/2021 6:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectorMovie](
	[Director_ID] [int] NOT NULL,
	[Movie_ID] [int] NOT NULL,
 CONSTRAINT [PK_DirectorMovie] PRIMARY KEY CLUSTERED 
(
	[Director_ID] ASC,
	[Movie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movie]    Script Date: 7/9/2021 6:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Movie_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_ID] [int] NOT NULL,
	[Movie_Name] [nvarchar](100) NULL,
	[Movie_Year] [int] NULL,
	[Movie_Describe] [nvarchar](500) NULL,
	[Movie_Trailer] [nvarchar](50) NULL,
	[Movie_Image] [nvarchar](50) NULL,
	[Movie_View] [int] NULL,
	[Movie_Lenght] [int] NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MovieActor]    Script Date: 7/9/2021 6:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieActor](
	[Movie_ID] [int] NOT NULL,
	[Actor_ID] [int] NOT NULL,
 CONSTRAINT [PK_MovieActor] PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC,
	[Actor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MyList]    Script Date: 7/9/2021 6:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyList](
	[Mylist_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Movie_ID] [int] NOT NULL,
 CONSTRAINT [PK_MyList] PRIMARY KEY CLUSTERED 
(
	[Mylist_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rating]    Script Date: 7/9/2021 6:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[Customer_ID] [int] NOT NULL,
	[Movie_ID] [int] NOT NULL,
	[Rating_Point] [int] NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC,
	[Movie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rental]    Script Date: 7/9/2021 6:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[Rental_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Account_Email] [nvarchar](50) NULL,
	[Rental_Day] [date] NULL,
	[Rental_Return] [date] NULL,
 CONSTRAINT [PK_Rental] PRIMARY KEY CLUSTERED 
(
	[Rental_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Account_ID], [Account_FName], [Account_LName], [Account_Email], [Account_Phone], [Account_Address], [Account_Password], [Account_Type]) VALUES (1, N'Văn', N'Nguyễn', N'vannguyen0708@gmail.com', NULL, NULL, N'db69fc039dcbd2962cb4d28f5891aae1', N'Admin')
INSERT [dbo].[Account] ([Account_ID], [Account_FName], [Account_LName], [Account_Email], [Account_Phone], [Account_Address], [Account_Password], [Account_Type]) VALUES (2, N'Trí', N'Nguyễn', N'nguyentri291999@gmail.com', N'0981192881', N'194 Bạch Đằng, Sài Gòn', N'978aae9bb6bee8fb75de3e4830a1be46', N'User')
INSERT [dbo].[Account] ([Account_ID], [Account_FName], [Account_LName], [Account_Email], [Account_Phone], [Account_Address], [Account_Password], [Account_Type]) VALUES (3, N'Van ', N'Nguyen', N'vannguyen@gmail.com', NULL, NULL, N'6b2cd8cb828804a3d48f7baaa6de5a5e', N'User')
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([Actor_ID], [Actor_Name]) VALUES (1, N'Vin Diesel')
INSERT [dbo].[Actor] ([Actor_ID], [Actor_Name]) VALUES (2, N'Michelle Rodriguez')
INSERT [dbo].[Actor] ([Actor_ID], [Actor_Name]) VALUES (3, N'Sylvester StalloneRay')
GO
SET IDENTITY_INSERT [dbo].[Actor] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Category_ID], [Category_Name]) VALUES (1, N'Hành động')
INSERT [dbo].[Category] ([Category_ID], [Category_Name]) VALUES (2, N'Hoạt hình')
INSERT [dbo].[Category] ([Category_ID], [Category_Name]) VALUES (3, N'Hình sự')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Director] ON 

INSERT [dbo].[Director] ([Director_ID], [Director_Name]) VALUES (1, N'Steven C. Miller')
INSERT [dbo].[Director] ([Director_ID], [Director_Name]) VALUES (2, N'Vin Diesel')
INSERT [dbo].[Director] ([Director_ID], [Director_Name]) VALUES (3, N'Justin Lin')
SET IDENTITY_INSERT [dbo].[Director] OFF
SET IDENTITY_INSERT [dbo].[Rental] ON 

INSERT [dbo].[Rental] ([Rental_ID], [Customer_ID], [Account_Email], [Rental_Day], [Rental_Return]) VALUES (2, 3, N'vannguyen@gmail.com', CAST(N'2021-07-09' AS Date), CAST(N'2022-07-09' AS Date))
SET IDENTITY_INSERT [dbo].[Rental] OFF
ALTER TABLE [dbo].[DirectorMovie]  WITH CHECK ADD  CONSTRAINT [FK_DirectorMovie_Director] FOREIGN KEY([Director_ID])
REFERENCES [dbo].[Director] ([Director_ID])
GO
ALTER TABLE [dbo].[DirectorMovie] CHECK CONSTRAINT [FK_DirectorMovie_Director]
GO
ALTER TABLE [dbo].[DirectorMovie]  WITH CHECK ADD  CONSTRAINT [FK_DirectorMovie_Movie] FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[DirectorMovie] CHECK CONSTRAINT [FK_DirectorMovie_Movie]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([Category_ID])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_Movie_Category]
GO
ALTER TABLE [dbo].[MovieActor]  WITH CHECK ADD  CONSTRAINT [FK_MovieActor_Actor] FOREIGN KEY([Actor_ID])
REFERENCES [dbo].[Actor] ([Actor_ID])
GO
ALTER TABLE [dbo].[MovieActor] CHECK CONSTRAINT [FK_MovieActor_Actor]
GO
ALTER TABLE [dbo].[MovieActor]  WITH CHECK ADD  CONSTRAINT [FK_MovieActor_Movie] FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[MovieActor] CHECK CONSTRAINT [FK_MovieActor_Movie]
GO
ALTER TABLE [dbo].[MyList]  WITH CHECK ADD  CONSTRAINT [FK_MyList_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[MyList] CHECK CONSTRAINT [FK_MyList_Customer]
GO
ALTER TABLE [dbo].[MyList]  WITH CHECK ADD  CONSTRAINT [FK_MyList_Movie] FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[MyList] CHECK CONSTRAINT [FK_MyList_Movie]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Customer]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Movie] FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Movie]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_Rental_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_Rental_Customer]
GO
USE [master]
GO

--select * from Movie
--drop database DB_Digam_Netfix2